<!DOCTYPE html>
<div class="container">
  <h1 class="text-center">Welcome to the Movie Database Interface</h1>
  <h3 class="text-center">Powered by MongoDB and AWS Lambda Functions</h3>
  <div class="row options">

    <div class="col text-center working">
      <form target="_self" method="get" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <button class="btn-success" id="noInput" (click)="getAll()">Get All</button>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="get" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <input type="text" name="getOne" placeholder="Id..." id="takeId" #getonebox>
        <button class="btn-success" id="noInput" (click)="getOne(getonebox.value); getonebox.value = '' ">Get One</button>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="post" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <input type="text" name="create" placeholder="Title" id="titleEntry" #titleenter>
        <input type="text" name="create" placeholder="Description..." id="descEntry" #descenter>
        <button class="btn-success" (click)="create(titleenter.value, descenter.value); titleenter.value = ''; descenter.value = '';" id="noInput">Create</button>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="get">
        <input type="text" name="update" placeholder="Id..." #entid>
        <input type="text" name="create" placeholder="Title" id="titleEntry" #enttit>
        <input type="text" name="create" placeholder="Description..." #entdesc>
        <button class="btn-success" id="noInput" (click)="update(entid.value, enttit.value, entdesc.value); entid.value = ''; enttit.value = ''; entdesc.value = '';">Update</button>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="get">
        <input type="text" name="delete" placeholder="Id..." #deletebox>
        <button class="btn-success" id="noInput" (click)="delete(deletebox.value); deletebox.value = '' ">Delete</button>
      </form>
    </div>

  </div>
  <div class="row">
    <h2>Output:</h2>
    <samp>
      <div *ngIf="oneMovie" id="getOneStyle">
        <hr>
        <h5>
          {{ oneMovie.title }}
        </h5>
        <p>
          "{{ oneMovie.description }}"
          <br>
          id: {{ oneMovie._id }}
        </p>
        <hr>
      </div>
      <ul *ngIf="movies">
        <li *ngFor="let movie of movies">
          <h5>
            {{ movie.title }}
          </h5>
          <p>
            "{{ movie.description }}"
            <br>
            id: {{ movie._id }}
          </p>
          <hr>
        </li>
      </ul>
    </samp>
  </div>
</div>

<router-outlet></router-outlet>
