<!DOCTYPE html>
<div class="container">
  <h1 class="text-center">Welcome, this is an example front end for a movie database powered by AWS Lambda functions: </h1>
  <div class="row">

    <div class="col text-center">
      <form target="_self" method="get" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <p>[Working]</p>
        <button class="btn-success" id="noInput" (click)="getAll()">Get All</button>
      </form>
    </div>

    <div class="col text-center">
      <form target="_self" method="get" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <input type="text" name="getOne" placeholder="Id..." id="takeId" #getonebox>
        <button class="btn-success" (click)="getOne(getonebox.value)">Get One</button>
      </form>
    </div>

    <div class="col text-center">
      <form target="_self" method="post" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <input type="text" name="create" placeholder="Title" id="titleEntry">
        <input type="text" name="create" placeholder="Description..." id="descEntry">
        <button class="btn-success" (click)="create()">Create Entry</button>
      </form>
    </div>

    <div class="col text-center">
      <form target="_self" method="get">
        <input type="text" name="update" placeholder="Id...">
        <button class="btn-success">Update Entry</button>
      </form>
    </div>

    <div class="col text-center">
      <form target="_self" method="get">
        <input type="text" name="delete" placeholder="Id...">
        <button class="btn-success">Delete Entry</button>
      </form>
    </div>

  </div>
  <div class="row text-center">
    <h2>Output:</h2>
    <samp *ngIf="movies">
      <ul>
        <li *ngFor="let movie of movies">
          <h5>
            {{ movie.title }}
          </h5>
          <p>
            "{{ movie.description }}"
            <br>
            id: {{ movie._id }}
          </p>
          <hr>
        </li>
      </ul>
      Boop beep bop
    </samp>
  </div>
</div>

<router-outlet></router-outlet>
