<!DOCTYPE html>
<div class="container">
  <div class="header">
    <h1 class="text-center">Welcome to the Movie Database Interface</h1>
    <p class="text-center" id="poweredBy">Powered by MongoDB and AWS Lambda Function calls</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Popcorn_Time_logo.png" alt="Image of Popcorn for Movies" id="popcornPic" class="d-none d-lg-block">
  </div>

  <div class="row options">
    <div class="col text-center working">
      <form target="_self" method="get" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <button class="btn-primary" (click)="getAll()">Get All</button>
      </form>
      <p *ngIf="timeToExecute">Lambda call: <br> {{ timeToExecute }} ms <br>$0.0000002/req</p>
    </div>

    <div class="col text-center working">
      <form target="_self" method="get" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <button class="btn-primary" (click)="getOne(getonebox.value); getonebox.value = '' ">Get One</button>
        <div class="inputContain">
          <input type="text" name="getOne" placeholder="Id..." #getonebox>
        </div>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="post" action="https://vivycsg88i.execute-api.us-east-1.amazonaws.com/Public/notes/">
        <button class="btn-primary" (click)="create(titleenter.value, descenter.value); titleenter.value = ''; descenter.value = '';">Create</button>
        <div class="inputContain">
          <input type="text" name="create" placeholder="Title" #titleenter>
          <input type="text" name="create" placeholder="Description..." id="descEntry" #descenter>
        </div>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="get">
        <button class="btn-primary" (click)="update(entid.value, enttit.value, entdesc.value); entid.value = ''; enttit.value = ''; entdesc.value = '';">Update</button>
        <div class="inputContain">
          <input type="text" name="update" placeholder="Id..." #entid>
          <input type="text" name="create" placeholder="Title" #enttit>
          <input type="text" name="create" placeholder="Description..." #entdesc>
        </div>
      </form>
    </div>

    <div class="col text-center working">
      <form target="_self" method="get">
        <button class="btn-primary" (click)="delete(deletebox.value); deletebox.value = '' ">Delete</button>
        <div class="inputContain">
          <input type="text" name="delete" placeholder="Id..." #deletebox>
        </div>
      </form>
    </div>

  </div>
  <div class="row">
    <h2>Output:</h2>
    <samp>
      <div *ngIf="oneMovie" id="getOneStyle">
        <hr>
        <h5>
          {{ oneMovie.title }}
        </h5>
        <p>
          "{{ oneMovie.description }}"
          <br> id: {{ oneMovie._id }}
        </p>
        <hr>
      </div>
      <ul *ngIf="movies">
        <li *ngFor="let movie of movies">
          <h5>
            {{ movie.title }}
          </h5>
          <p>
            "{{ movie.description }}"
            <br> id: {{ movie._id }}
          </p>
          <hr>
        </li>
      </ul>
    </samp>
  </div>
</div>

<router-outlet></router-outlet>
